RECIPIENT_WAID=254712658102
VERSION=v18.0
PORT=3000
FIREBASE_APIKEY=AIzaSyBM_NlorUBFSS6v3KABt7KqQrXQr06J51E
FIREBASE_AUTHDOMAIN=wekeza-chama.firebaseapp.com
FIREBASE_PROJECTID=wekeza-chama
FIREBASE_STORAGEBUCKET=wekeza-chama.appspot.com
FIREBASE_MESSAGESENDERID=992820576827
FIREBASE_APPID=1:992820576827:web:50f0a695fd046c2e6d521e
FIREBASE_MEASUREMENTID=G-QRWBWFQ7QE
FIREBASE_SERVICE_ACCOUNT=./wekeza-400900-da2ba1ac236f.json
NGROK_DOMAIN=https://staging-api.wekezafrica.com/
MPESA_DEV_BASE_URL=https://sandbox.safaricom.co.ke/
MPESA_DEV_CONSUMER_KEY=1dzL0cO8s3G7G5KrWlvWdZzkYkRxsvYJ
MPESA_DEV_CONSUMER_SECRET=x5G2SWOHRQyYO07X
MPESA_DEV_BASIC_AUTH=MWR6TDBjTzhzM0c3RzVLcldsdldkWnprWWtSeHN2WUo6eDVHMlNXT0hSUXlZTzA3WA==
BANKWAVE_DEV_BASE_URL=https://api.bankwave.co/v1/
BANKWAVE_CLIENT_ID=efb91520-3632-44e1-af53-599be4f55952
BANKWAVE_CLIENT_SECRET=ITOZNoIKHxJaYLJ2OexJKsHxQsyySdCj
APP_ID=160069613847644
PHONE_NUMBER_ID=144851272045828
ACCESS_TOKEN=EAAMEUJ5SpN0BO8Q2iUfaximoSj5ZClaFE9BBvoxYCiLLpiVVDVekvMQXWXUT8e9cMDZCMt9T2AyS4NQSmbe1JU28kfAY3hLXomYQlhg0VUFssYiaBVOWvZCJ6RBpl5WZCYYaRYEuqPq1YtjKfSbiTluldbf4Aa9e5Ao3y83IVqGZBBt5SES5PBaQO9ql6DpZBO
VERIFY_TOKEN=231993HbNmIgiT