APP_ID=
RECIPIENT_WAID=
VERSION=v18.0
PHONE_NUMBER_ID=
SYSTEM_USER_ACCESS_TOKEN=
ACCESS_TOKEN=
PORT=
VERIFY_TOKEN=
FIREBASE_APIKEY=
FIREBASE_AUTHDOMAIN=
FIREBASE_PROJECTID=
FIREBASE_STORAGEBUCKET=
FIREBASE_MESSAGESENDERID=
FIREBASE_APPID=
FIREBASE_MEASUREMENTID=
FIREBASE_SERVICE_ACCOUNT=
NGROK_DOMAIN=gentle-glowworm-sharing.ngrok-free.app
MPESA_DEV_BASE_URL=https://sandbox.safaricom.co.ke/
MPESA_DEV_CONSUMER_KEY=1dzL0cO8s3G7G5KrWlvWdZzkYkRxsvYJ
MPESA_DEV_CONSUMER_SECRET=x5G2SWOHRQyYO07X
MPESA_DEV_BASIC_AUTH=MWR6TDBjTzhzM0c3RzVLcldsdldkWnprWWtSeHN2WUo6eDVHMlNXT0hSUXlZTzA3WA==