APP_ID=
RECIPIENT_WAID=
VERSION=v18.0
PHONE_NUMBER_ID=
SYSTEM_USER_ACCESS_TOKEN=
ACCESS_TOKEN=
PORT=
VERIFY_TOKEN=
FIREBASE_APIKEY=
FIREBASE_AUTHDOMAIN=
FIREBASE_PROJECTID=
FIREBASE_STORAGEBUCKET=
FIREBASE_MESSAGESENDERID=
FIREBASE_APPID=
FIREBASE_MEASUREMENTID=
FIREBASE_SERVICE_ACCOUNT=