APP_ID=
RECIPIENT_WAID=
VERSION=v18.0
PHONE_NUMBER_ID=
SYSTEM_USER_ACCESS_TOKEN=
ACCESS_TOKEN=
PORT=
VERIFY_TOKEN=
FIREBASE_APIKEY=
FIREBASE_AUTHDOMAIN=
FIREBASE_PROJECTID=
FIREBASE_STORAGEBUCKET=
FIREBASE_MESSAGESENDERID=
FIREBASE_APPID=
FIREBASE_MEASUREMENTID=
FIREBASE_SERVICE_ACCOUNT=
NGROK_DOMAIN=gentle-glowworm-sharing.ngrok-free.app
MPESA_DEV_BASE_URL=
MPESA_DEV_CONSUMER_KEY=
MPESA_DEV_CONSUMER_SECRET=
MPESA_DEV_BASIC_AUTH=
PERMANENT_ACCESS_TOKEN=	EAAMEUJ5SpN0BO67YgeFWzEw7RPWn8yFPCdaY9bhOZCz8lHjK36aYY2NtOvOssUqzXXP4nqT0mxKrylDkDIt3CDXDSpZA8KI6tMzyFn3FsSM7Jl6B7kqZBD4iOqnXEN25QGBfvHTAcf6gNzq1Hk6kp3askSZCOnOTwvRNKmjYZAspUuD6r5n7eRGI02fAMo3R2